<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">
    $(document).ready(function() {
        $('.bar').find('a[href="' + document.location.pathname + '"]').addClass('active')
    })
</script>
<ul th:fragment="infoNav" class="nav nav-tabs bar">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/myPage/info/{uid}(uid = ${session.USER.uid})}">기본 정보</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/myPage/profile/{uid}(uid = ${session.USER.uid})}">프로필 이미지</a>
    </li>
    <li class="nav-item" th:if="${#strings.equals(session.USER.roleType, 'USER')}">
        <a class="nav-link" th:href="@{/myPage/myComment}">내가 쓴 댓글</a>
    </li>
    <li class="nav-item" th:if="${#strings.equals(session.USER.roleType, 'ADMIN')}">
        <a class="nav-link" th:href="@{/myPage/category}">카테고리 설정</a>
    </li>
    <li class="nav-item" th:if="${#strings.equals(session.USER.roleType, 'ADMIN')}">
        <a class="nav-link" th:href="@{/myPage/member}">멤버 관리</a>
    </li>
    <li class="nav-item" th:if="${#strings.equals(session.USER.roleType, 'ADMIN')}">
        <a class="nav-link" th:href="@{/myPage/post}">게시물 관리</a>
    </li>
    <li class="nav-item" th:if="${#strings.equals(session.USER.roleType, 'ADMIN')}">
        <a class="nav-link" th:href="@{/myPage/comment}">댓글 관리</a>
    </li>
</ul>